<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href=/assets/css/style.css>
  </head>

  <body>
  <div class="wrapper">
  <!-- <div class="topnav" style="font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;">
    <a href="/">Home</a>
    <a href="/publications">Publications</a>
    <a href="/projects">Projects</a>
  </div> -->
  <hr />
  <div style="width:900px; text-align:middle">
  {{ content }}
  </div>  
  </div>